* {
    margin:0;
    padding:0;
}

.box{
    height:2000px;
    width: 1903px;
}
.mian{
    width: 1903px;
    height:1000px;
    margin: auto;
}

.main-box{
    height: 600px;
    width:1050px;
    border: 1px solid black;
    margin: auto;
}

.main-mid{
    height: 300px;
    width: 1050px;
    margin: auto;
    padding-top: 10px;
}
.main-bottom{
    height: 300px;
    width: 1050px;
    margin: auto;
}
.main-top{
    width:1100px;
    height:400px;
    margin: auto;
}
.main-top img{
    width:1020px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    height:360px;
}
.main-mid img{
    width: 250px;
    height: 250px;
    margin-left: 10px;
}
.main-bottom img{
    width: 250px;
    height: 250px;
    margin-left: 10px;
}

label.label1{
    display: inline-block;
    color: white;
    background-color: aqua;
    font-size: 30px;
    width: 200px;
    height: 100px;
    text-align: center;
    border-radius: 25px;
    line-height: 100px;
    margin-left: 800px;
    margin-bottom: 50px;
}

.img1{
    float: left;
}
.img1:hover label{
    display: inline-block;
    transition: all 1s  0s;
    height: 100px;
    font-size: 20px;
    color: black;
}
.img2{
    float: left;
}
.img2:hover label{
    display: inline-block;
    transition: all 1s  0s;
    height: 100px;
    font-size: 20px;
    color: black;
}

.center{
    clear: both;
}

label.img-label{
        display: inline-block;
        width:200px;
        height: 5px;
        bottom: 260px;
        position:absolute;
        background-image: linear-gradient(to right, rgba(220, 242, 214, 0.5), rgba(23, 113, 176, 0.5));
        text-align: center;
        color: rgba(255, 255, 255, 0);
    }

label.img-label2{
        display: inline-block;
        width:200px;
        height: 5px;
        bottom: -42px;
        position:absolute;
        background-image: linear-gradient(to right, rgba(220, 242, 214, 0.5), rgba(23, 113, 176, 0.5));
        text-align: center;
        color: rgba(255, 255, 255, 0);
    }