ul {
    list-style: none;
}

li {
    width: 200px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border: solid 1px white;
}

.l1 {
    float: left;
}

.l2 {
    background-color: rgb(0, 0, 0);
    position: relative;
    left: 30px;
}

.u3 {
    position: absolute;
    left: 160px;
    top: 10px;
    height: 0;
    display: none;
}

.l1:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.l2:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.l3:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.l2:hover .u3 {
    display: block;
    opacity: 1;
}

.u2 {
    display: none;
    opacity: 0;
}

.l1:hover .u2 {
    display: block;
    opacity: 1;
}